.hotel-container {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    border-radius: 30px;
    margin: auto;
    background-color: #ececec;
  }

  .head{
    display: flex;
    justify-content: space-between;
  }
  
 .h4 {
    font-size: px;
    font-weight: bold;
    color: #222;
  }

  .search {
    margin-top: 15px;
    text-align: center;
    padding: 3px;
    margin-right: 10px;
    font-size: 20px;
    width: 25px;
    height: 22px;
    border-radius: 20px;
    background-color: white;
  }
  
  .highlight {
    color: #222;
    font-weight: 900;
    font-size: 22px;
    line-height: 0.1px;
    padding-bottom: px;
  }

  .category-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    border-radius: 15px;
    padding: 13px;
    width: 25px;
    height: 40px;
    background-color: white;
    color: #555;
  }
  
  .category-item.active {
    color: white;
    padding: 13px;
    border-radius: 15px;
    font-weight: bold;
    width: 25px;
    height: 40px;
    background-color: #ff6f00;
    font-size: 12px;
  }
  .icons-title{
    margin-top: 10px;
  }

  .header{
    display: flex;
    justify-content: space-between;
  }

  .see{
    margin-top: 10px;
    font-size: 15px;
    color: #ff6f00;
    font-weight: bold;
  }
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
  }
  
  .hotel-list {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 310px;
    background-color: white;
    margin-left: 35px;
    border-radius: 20px;
  }

  .hotel-img{
    display: flex;
    width: 220px;
    height: 200px;
    background-color: #222;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 20px;
  }
  .hotel-img img{
    width: 190px;
    border-radius: 20px;
  }
  .pagination {
    position: relative;
    margin-top: 190px;
    right: 35%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 6px;
    height: 6px;
    background: #777;
    border-radius: 50%;
    margin: 0 3px;
  }
  
  .dot.active {
    background: white;
    width: 20px;
    height: 5px;
    border-radius: 5px;
  }

  .bookmarks{
    width: 20px;
    margin-left: 190px;
    border-radius: 15px;
    background-color: #eceaea;
    text-align: center;
    padding: 3px;
  }

  .hotel-title{
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
  }

  .location{
    margin-left: 12px;
    font-size: 11px;
    margin-top: 5px;
    color: #777;
  }

  .rate{
    display: flex;
    justify-content: space-between;
  }

  .dollar{
    margin-left: 13px;
    margin-top: 12px;
    color: #ff6f00;
    font-size: 15px;
    font-weight: bold;
  }

  .night{
    font-size: 12px;
    color: #777;
  }

  .rating{
    margin-top: 12px;
    font-size: 12px;
    margin-right: 10px;
    font-weight: 800;
  }

  .rat{
    color: #777;
    font-weight: 600;
  }

  .low-cost{
    font-weight: 800;
    margin-top: 30px;
  }

  .grand-box{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 80px;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
  }

  .warwick{
    display: flex;
    justify-content: space-between;
  }

  .warwick-imgg img{
    width: 80px;
    height: 70px;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: #777;
  }

  .warwick-title{
    margin-right: 35px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
  }

  .location-new{
    font-size: 11px;
    color: #777;
  }

  .stars{
    display: flex;
    justify-content: space-between;
  }

  .star{
    font-size: 12px;
    font-weight: bolder;
  }

  .rat1{
    color: #777;
    font-weight: 400;
    font-size: 12px;
  }

  .grand-box2{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 80px;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
  }

  .warwick-title1{
    margin-right: 55px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
  }

  .icons-bottom{
    width: 300px;
    height: 50px;
    display: flex;
    background-color: white;
    margin-top: 1px;
    border-radius: 5px;
    justify-content: space-between;
  }

  .icons{
    padding: 15px;
    font-size: 20px;
  }

  .icons1{
    color: #ff6f00;
  }

  .icons2{
    margin-left: 40px;
  }